.App {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  width: calc(100% - 20px);
}

button {
  padding: 8px;
  margin-left: 5px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  text-align: left;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
